.login {
  height: 100%;
  background-color: #fff;
  .login-content {
    padding: 80px;
  }
  .at-form {
    &::after {
      border: unset;
    }
    .form-item {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #d6e4ef;
      align-items: center;
      .lable-icon {
        width: 48px;
        height: 48px;
      }
      .form-content {
        flex: 1;
        width: 1px;
      }
    }
  }
  .forget-pwd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 0;
    font-size: 36px;
    color: #ccc;
  }
}